.row
  .section-title-container
    %h2.section-title Bridesmaids
    %span.hearts
  .small-11.small-centered.large-8.large-centered.columns
    .flexslider
      %ul.slides
        %li
          %img{alt: "Placeholder", src: "assets/bridesmaid-1.jpg"}/
          %p.flex-caption
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        %li
          %img{alt: "Placeholder", src: "assets/bridesmaid-2.jpg"}/
          %p.flex-caption
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        %li
          %img{alt: "Placeholder", src: "assets/bridesmaid-3.jpg"}/
          %p.flex-caption
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
