.section-title-container
  %h2.section-title Contact
  %span.hearts
%p
  For any questions please email us:
  %a{href: "mailto:katherineandquintin@gmail.com", title: "E-mail Us", target: '_top'}
    KatherineAndQuintin@gmail.com

%address.pad-vertical-20
  Katherine and Quintin Adam
  %br/
  50 South 500 West
  %br/
  Apt. 312
  %br/
  Salt Lake City, UT 84101
  %br/
  USA

