-# .section-title-container
-#   %h2.section-title Details & Events
-#   %span.hearts
-# .small-12.large-10.large-centered.columns
-#   %h3 Hotel Information
-#   %p
-#     We have special hotel group rates available. Make your reservations at:
-#   %p= link_to 'The Baronette Renaissance Detroit-Novi Hotel', 'http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Meudas+Adam+Wedding%5EDTWDN%60MAMMAMA%60129.00%60USD%60false%606%2F10%2F15%606%2F14%2F15%605%2F14%2F15&app=resvlink&stop_mobi=yes', target: '_blank'

.section-title-container
  %h2.section-title Events
  %span.hearts
.small-12.large-10.large-centered.columns
  %p
    Friday June 12th
    %br/
    The night before... Rehearsal Celebration
    %br/
  %p
    Location: Duel Novi
    %address 44375 West 12 Mile Rd #147, Novi, Michigan 48377
  %p
    = link_to 'https://www.facebook.com/events/1640395806194164/', target: '_blank'
