.section-title-container
  %h2.section-title Gifts
  %span.hearts
.small-12.large-6.large-centered.columns.wrapper
  %ul.small-block-grid-1.large-block-grid-2.block-grid
    %li
      %a.block-logo{href: "#"}
        %img{alt: "Logo", src: "assets/logo-1.png"}/
    %li
      %a.block-logo{href: "#"}
        %img{alt: "Logo", src: "assets/logo-2.png"}/
    %li
      %a.block-logo{href: "#"}
        %img{alt: "Logo", src: "assets/logo-3.png"}/
    %li
      %a.block-logo{href: "#"}
        %img{alt: "Logo", src: "assets/logo-4.png"}/
  %p.content-block

