.section-title-container
  %h2.section-title Gifts
  %span.hearts
#gift-area.small-12.large-6.large-centered.columns.wrapper
  %ul.small-block-grid-1.large-block-grid-2.block-grid
    %li
      = link_to "http://www.amazon.com/gp/registry/wedding/L80FQRNO3Q5F", target: '_blank', class: 'block-logo' do
        = image_tag 'photos/amazon-logo.png', alt: 'Amazon Wedding Registry', class: 'pad-5'
    %li
      %a.block-logo{href: "#"}
        %img{alt: "Logo", src: "assets/logo-2.png"}/
    -# %li
    -#   %a.block-logo{href: "#"}
    -#     %img{alt: "Logo", src: "assets/logo-3.png"}/
    -# %li
    -#   %a.block-logo{href: "#"}
    -#     %img{alt: "Logo", src: "assets/logo-4.png"}/
  %p.content-block

