%header
  %h2.section-title.hide-for-small
    %span Katherine
    %em and
    %span Quintin
  .show-for-small
    %h2.section-title
      %p.negative-bottom-60 Katherine
      %p.negative-bottom-40
        %em &
      %p.margin-bottom-0 Quintin
%p.subline Invite You to Celebrate At their Wedding
