.section-title-container
  %h2.section-title Location
  %span.hearts
%p Both the wedding and the reception will be held at:
%address.pad-vertical-20
  The Adam Residence
  %br/
  45810 West 11 Mile Rd.
  %br/
  Novi, MI 48374
  %br/
  USA

.hide-for-small
  #map-canvas{style: "width:100%; height:500px;"}
