.section-title-container
  %h2.section-title Our Story
  %span.hearts
.small-12.large-10.large-centered.columns
  .row
    .small-12.columns.section-our-story
      %img{alt: "Bride", src: "assets/bride.jpg", style: 'max-height: 550px'}/
      %blockquote.caption-1
        %p
        %strong.right - Quintin Adam and Katherine Muedas Nuñez

