.section-title-container
  %h2.section-title Our Story
  %span.hearts
.small-12.large-10.large-centered.columns
  .row
    .small-12.columns.section-our-story
      %img{alt: "Bride", src: "assets/bride.jpg", style: 'max-height: 550px'}/
      %blockquote.caption-1
        %p
          A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
        %p
          I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.
        %strong.right - Kevin's Story

