.section-title-container
  %h2.section-title Photos
  %span.hearts
  %h4 Share your wedding pictures with us. We would love it!!
  %p.pad-top-20
    = link_to '#', class: 'button ' do
      %i.fa.fa-heart
      Upload photos
      %i.fa.fa-heart


       
.photo-link-to.small-12.columns
  %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-4
    - @category_pictures.each do |picture|
      - if category = picture.category
        %li
          = link_to pictures_category_path(category) do
            = image_tag picture.photo.url(:medium_square), alt: category.humanize
            %span.overlay-label
              = category.humanize
