-# .section-title-container
-#   %h2.section-title RSVP
-#   %span.hearts
-#   .large-10.large-centered.columns
-#     %h4 Your response is very important to us!
-#     %h5 Apart from letting us know if you can attend our wedding, we would love it if you could help us build our address book.
-#     %h6 Phone number, address and birthday is optional but greatly appreciated.
-# .small-12.large-10.large-centered.columns
-#   #rsvp-form
-#     = render 'visitors/rsvp_form'
