.row.divider.date-section
  .large-6.small-12.columns
    .date-container.col-1
      %span.day-date Saturday, June 13
      %span.day-year.accent 2015
  .large-6.small-12.columns
    .date-container.col-2
      %span.day-time Four Thirty in the evening
      %span.day-location.accent=link_to 'The Adam Residence', '#section-map'
      %span.day-address Novi, Michigan
      %span.day-meta dinner + dancing to follow
