.row.divider.date-section
  .large-6.small-12.columns
    .date-container.col-1
      %span.day-date Saturday, June 13
      %span.day-year.accent 2015
  .large-6.small-12.columns
    .date-container.col-2
      %span.day-time Five O’Clock in the evening
      %span.day-location.accent Sheraton Towers
      %span.day-address 123 Las Ramblas, Barcelona
      %span.day-meta dinner + dancing to follow
