#section-0
  %header
    %h2.section-title
      %span Katherine
      %em and
      %span Quintin
  %p.subline Invite You to Celebrate At their Wedding
  = image_tag "hero-unit.jpg", alt: "Placeholder", class: 'hero-unit fade-in'
  .row.divider.date-section
    .large-6.small-12.columns
      .date-container.col-1
        %span.day-date Saturday, June 13
        %span.day-year.accent 2015
    .large-6.small-12.columns
      .date-container.col-2
        %span.day-time Five O’Clock in the evening
        %span.day-location.accent Sheraton Towers
        %span.day-address 123 Las Ramblas, Barcelona
        %span.day-meta dinner + dancing to follow
  / END .row
/ END #section-0
.callout
  %a.button.radius.js-scroll{href: "#section-6"}
    %i.fa.fa-envelope
    %span.btn-label Click here to RSVP today
/ END .callout
#section-1.section-odd.row
  .section-title-container
    %h2.section-title Our Story
    %span.hearts
  .small-12.large-10.large-centered.columns
    .row
      .small-12.large-6.columns.section-bride
        %img{alt: "Bride", src: "assets/groom.jpg"}/
        %blockquote.caption-1
          %p
            A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
          %p
            I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.
          %strong.right - Kevin's Story
      .small-12.large-6.columns.section-groom
        %img{alt: "Groom", src: "assets/bride.jpg"}/
        %blockquote.caption-2
          %p
            When I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath.
          %p
            I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me:
          %strong.right - Cecelia's Story
    / END .row
  / END .small-12
/ END #section-1
#section-2.row
  .section-title-container
    %h2.section-title Photos
    %span.hearts
  .small-12.columns
    %ul.clearing-thumbs{"data-clearing" => ""}
      %li
        %a{href: "assets/photo-1.jpg"}
          %img{alt: "Engagement", src: "assets/photo-1.jpg"}/
          %span.overlay-label Engagement
      %li
        %a{href: "assets/photo-2.jpg"}
          %img{alt: "The Dress", src: "assets/photo-2.jpg"}/
          %span.overlay-label The Dress
      %li
        %a{href: "assets/photo-3.jpg"}
          %img{alt: "The Ceremony", src: "assets/photo-3.jpg"}/
          %span.overlay-label The Ceremony
      %li
        %a{href: "assets/photo-4-panoramic.jpg"}
          %img{alt: "Our Reception", src: "assets/photo-4.jpg"}/
          %span.overlay-label Our Reception
      %li
        %a{href: "assets/photo-5.jpg"}
          %img{alt: "Cutting the Cake", src: "assets/photo-5.jpg"}/
          %span.overlay-label Cutting the Cake
      %li
        %a{href: "assets/photo-6.jpg"}
          %img{alt: "Bouquet", src: "assets/photo-6.jpg"}/
          %span.overlay-label Bouquet
      %li
        %a{href: "assets/photo-7.jpg"}
          %img{alt: "Beach Kiss", src: "assets/photo-7.jpg"}/
          %span.overlay-label Beach Kiss
      %li
        %a{href: "assets/photo-8.jpg"}
          %img{alt: "Memories", src: "assets/photo-8.jpg"}/
          %span.overlay-label Memories
/ END #section-2
#section-3.section-odd
  .row
    .section-title-container
      %h2.section-title Groomsmen
      %span.hearts
    .small-11.small-centered.large-8.large-centered.columns
      .flexslider
        %ul.slides
          %li
            %img{alt: "Placeholder", src: "assets/groomsmen-1.jpg"}/
            %p.flex-caption
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          %li
            %img{alt: "Placeholder", src: "assets/groomsmen-2.jpg"}/
            %p.flex-caption
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          %li
            %img{alt: "Placeholder", src: "assets/groomsmen-3.jpg"}/
            %p.flex-caption
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      / END .flexslider
    / END .small-11
  / END .row
/ END #section-3
#section-4
  .row
    .section-title-container
      %h2.section-title Bridesmaids
      %span.hearts
    .small-11.small-centered.large-8.large-centered.columns
      .flexslider
        %ul.slides
          %li
            %img{alt: "Placeholder", src: "assets/bridesmaid-1.jpg"}/
            %p.flex-caption
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          %li
            %img{alt: "Placeholder", src: "assets/bridesmaid-2.jpg"}/
            %p.flex-caption
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          %li
            %img{alt: "Placeholder", src: "assets/bridesmaid-3.jpg"}/
            %p.flex-caption
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      / END .flexslider
    / END .small-11
  / END .row
/ END #section-4
#section-5.section-odd
  .section-title-container
    %h2.section-title Gifts
    %span.hearts
  .small-12.large-6.large-centered.columns.wrapper
    %ul.small-block-grid-1.large-block-grid-2.block-grid
      %li
        %a.block-logo{href: "#"}
          %img{alt: "Logo", src: "assets/logo-1.png"}/
      %li
        %a.block-logo{href: "#"}
          %img{alt: "Logo", src: "assets/logo-2.png"}/
      %li
        %a.block-logo{href: "#"}
          %img{alt: "Logo", src: "assets/logo-3.png"}/
      %li
        %a.block-logo{href: "#"}
          %img{alt: "Logo", src: "assets/logo-4.png"}/
    %p.content-block
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
    / END .content-block
/ END #section-5
#section-6.js-form
  .section-title-container
    %h2.section-title Rsvp
    %span.hearts
  .small-12.large-10.large-centered.columns
    %form#js-form.rsvp-form.custom{action: "#", "data-abide" => "", method: "POST"}
      %fieldset.rsvp-details
        / Displays a global alert if required fields are missing
        .js-display
        %legend
          Kindly respond by
          = succeed "." do
            %strong March 14, 2014
        .row
          .large-6.columns
            %label{for: "firstname"} First Name
            %input#firstname.input-field{name: "firstname", placeholder: "Your first name is required", required: "", type: "text", value: ""}/
            %small.error First Name is required.
          .large-6.columns
            %label{for: "lastname"} Last Name
            %input#lastname.input-field{name: "lastname", placeholder: "Your last name is required", required: "", type: "text", value: ""}/
            %small.error Last Name is required.
        .row
          .large-6.columns
            %label{for: "email"} Email
            %input#email.input-field{name: "email", placeholder: "name@yourdomain.com", required: "", type: "email", value: ""}/
            %small.error Valid Email is required.
          .large-6.columns
            %label{for: "phone"} Phone
            %input#phone.input-field{name: "phone", placeholder: "A phone number is optional", type: "tel", value: ""}/
      %fieldset.rsvp-attendance
        %legend Will you be attending?
        .large-6.columns
          %label{for: "radio1"}
            %input#radio1{name: "radio", required: "", style: "display:none;", type: "radio", value: "Accepts with Pleasure!"}/
            %span.custom.radio.accept
            %span.radio-label Accepts with Pleasure!
        .large-6.columns
          %label{for: "radio2"}
            %input#radio2{name: "radio", required: "", style: "display:none;", type: "radio", value: "Declines with Regret."}/
            %span.custom.radio.decline
            %span.radio-label Declines with Regret.
      %fieldset.rsvp-meal-choice
        %legend
          Please select your meal choices
        .row
          .large-6.columns
            %label{for: "main-course"} Main
            %select#main-course{name: "main-course"}
              %option{selected: "selected"} None
              %option Chicken
              %option Beef
              %option Vegetarian
          .large-6.columns
            %label{for: "dessert"} Dessert
            %select#dessert{name: "dessert"}
              %option{selected: "selected"} None
              %option Chocolate Cake
              %option Lemon Cheesecake
              %option Key Lime Pie
      %button#js-submit-btn.button.radius{type: "submit"}
        %i.fa.fa-envelope
        %span.btn-label Send
    %p
      For any questions please email us:
      %a{href: "mailto:info@yourdomain.com", title: "E-mail Us"}
        info@yourdomain.com
  / END .large-8
  #map-canvas{style: "width:100%; height:500px;"}
/ END .row
