= form_for(@pictures) do |f|
  .form-group
    = f.file_field :photo, required: true, multiple: true, name: 'picture[photo]'
  %div
    = f.hidden_field :category, value: @category , name: 'picture[category]'
  .progress-wrapper
    %p
      Progress:
      %span.bitrate
    .progress.small-12.success.round
      %span.meter{style: "width: 0%"}

= render 'photo_js'
