span.day-date {
  padding-right: 10px;
}

.photo-link-to {

  li {
    padding: 0;
    position: relative;
    max-width: 100%;

    img {
      max-width: 100%;
    }
  }
}

.transparent-button {
  background: transparent;
  border: 1px solid $primary-color;

  a:hover {
    color: white;
    background: $primary-color;
  }
}

#error_explanation {

  ul {
    list-style: none;
  }
}

.bw-photo {
  -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="1" /></filter></svg>#filter');
  -webkit-filter: grayscale(1) blur(.5px);
          filter: grayscale(1) blur(.5px);
  filter: gray progid:DXImageTransform.Microsoft.Blur(pixelradius=0.5);

  &:hover {
    z-index: 2;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="0" /></filter></svg>#filter');
      -webkit-filter: grayscale(0) blur(0);
              filter: grayscale(0) blur(0);
      filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=0);
  }
}

// crazy filter

// @-webkit-keyframes hue {
//   100% { -webkit-filter:hue-rotate(360deg); }
// }

// .bw-photo {
//     -moz-transition:all 1s ease;
//     -webkit-transition:all 1s ease;
//     -ms-transition:all 1s ease;
//     -o-transition:all 1s ease;
//     transition:all 1s ease;


//   &:hover {
//     z-index:2;
//     -moz-box-shadow:0 0 12px rgba(0, 0, 0, 0.6);
//     -webkit-box-shadow:0 0 12px rgba(0, 0, 0, 0.6);
//     box-shadow:0 0 12px rgba(0, 0, 0, 0.6);
//     -webkit-animation:hue 1s linear infinite;
//   }
// }
