span.day-date {
  padding-right: 10px;
}

.photo-link-to {

  li {
    padding: 0;
    position: relative;
    max-width: 100%;

    img {
      max-width: 100%;
    }
  }
}

.transparent-button {
  background: transparent;
  border: 1px solid $primary-color;

  &:hover, a:hover {
    color: white;
    background: $primary-color;
  }
}
