$mid-tone:       #9ea7ad;
$lighter-tone:   lighten($mid-tone, 30%);
$light-tone:     lighten($mid-tone, 15%);
$dark-tone:      darken($mid-tone, 30%);
$darker-tone:    darken($mid-tone, 45%);

$primary-color: #de675f !default;    // orangeish
$secondary-color: $mid-tone !default; // white-lilac
$alert-color: #f04124 !default;     // cinnabar
$success-color: #43ac6a !default;   // sea-green
$warning-color: #f08a24 !default;   // carrot
$info-color: #a0d3e8 !default;      // cornflower

$white         : #fff !default;
$ghost         : #fafafa !default;
$snow          : #f9f9f9 !default;
$vapor         : #f6f6f6 !default;
$white-smoke   : #f5f5f5 !default;
$silver        : #efefef !default;
$smoke         : #eee !default;
$gainsboro     : #ddd !default;
$iron          : #ccc !default;
$base          : #aaa !default;
$aluminum      : #999 !default;
$jumbo         : #888 !default;
$monsoon       : #777 !default;
$steel         : #666 !default;
$charcoal      : #555 !default;
$tuatara       : #444 !default;
$oil           : #333 !default;
$jet           : #222 !default;
$black         : #000 !default;

$red:            #e54729;
$sky-blue:       invert($red);
$blue:           #002e62;
$yellow:         #ffcc00;
$green:          lighten(#55a602,8.5%);
