%p.copyright.small-12.large-6.columns
  ©
  = Time.now.year
%p.credit.small-12.large-6.columns
  Made by
  = link_to 'Katherine', 'https://github.com/KatherineMuedas', target: '_blank'
  and
  = link_to 'Quintin', 'https://github.com/QuintinAdam', target: '_blank'
