%nav.top-bar.show-for-large-down.nav{"data-topbar" => true}
  %ul.title-area
    %li.name Navigate to...
    %li.toggle-topbar.menu-icon
      %a{href: "#"}
        %span
  %section.top-bar-section
    %ul
      %li
        %a{:href => "#section-0"}
          %i.fa.fa-arrow-up
      = render 'layouts/navigation_links'
