.side-nav-container.nav
  .shadow
  %h1.logo
    = link_to 'K + Q', root_path, class: 'new-page'
  %nav.hide-for-large-down
    %ul.side-nav.primary-nav
      = render 'layouts/navigation_links'
  %span.ribbon

