- if content_for? :nav_links
  = yield :nav_links
- else
  -# temp
  %li
    %a{href: "#section-0"} Details
  -# %li
  -#   %a{href: "#section-1"} Our Story
  %li
    %a{href: "#section-2"} Photos
  -# %li
  -#   %a{href: "#section-3"} Groomsmen
  -# %li
  -#   %a{href: "#section-4"} Bridesmaids
  %li
    %a{href: "#section-5"} Gifts
  %li
    %a{href: "#section-6"} RSVP

